@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #1D1E22;
  color: white;
  font-family: 'Lato', sans-serif;
}
